<ion-view view-title="History">
	<ion-content class="padding">
		<button ng-click="deleteAll();" class="button button-assertive col col-100"> Remove all QR codes in history </button>
		<div class="list">
		   		<div class="row">
		   			<div class="col col-100">
		        		<div class="item item-divider to_bold">
		        			QR codes
	        			</div>
					    <ion-list>
					    <ion-item ng-repeat="item in listeQR" ng-click="go(item.text);">
				    		<p class="QRcontent"> {{item.text}} </p>
			       			<p> {{item.date}} </p>
			       		</ion-list>
			        </div>
		        </div>
		   	</div>
	</ion-content>
</ion-view>